<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/subjects">Vorige</a></li>
        <li><a href="/subjects">Home</a></li>
        <li><a href="/profile">Profiel</a></li>
    </ul>
    <div class="container">
            <h1>Detail</h1>
                <% if (user.local.email && user.local.password){ %>
                    <h2>Lokaal</h2>
                    <strong>Email</strong>: <%= user.local.email %><br>
                    <strong>Password</strong>: <%= user.local.password %><br>
                <% } %>
                <% if (user.facebook.name && user.facebook.email ){ %>
                    <h2>Facebook</h2>
                    <strong>Name</strong>: <%= user.facebook.name %><br>
                    <strong>Email</strong>: <%= user.facebook.email %><br>
                 <% } %>
            <br><a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div><!-- END CONTAINER -->
</div>
</body>
</html>